table, th, td {
    border: 1px solid black;}

p{
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 400;
}

#explosion{
    color: rgb(255, 0, 0);
    text-decoration: underline;
    font-style: oblique;
}

#title{
    background-color: rgb(5, 135, 83);
    font-family: "Roboto Condensed"
}

.headings{
    font-family: "Roboto Condensed";
    size: 18px;
}

.normaltext{
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
}

#centerable{
    text-align: center;
}

h1{
    text-align: center;
    line-height: 2;
    border: 4px solid purple;
    border-radius: 25px;
    block-size: 70px;
}

#introduction{
    text-align: center;
}

header img{
    opacity: 0.85;
    filter: sepia(50%)
}

#grape-image{
    width: 20%;
    height: 40%;
    margin: auto;
    display: block;
}

body{
    background: rgba(0, 128, 0, 0.3);
}